body html
{
	margin: 0;
	padding: 0;
}

/*html
{
	overflow: scroll;
	overflow-x: hidden;
}

::~webkit-scrollbar
{
	width: 0px;
	background: transparent;
}

::~webkit-scrollbar-thumb
{
	background: #FF0000;
}*/

.backgroundimg
{
	background-image: url(sparks.png);

	background-size: cover;

	background-position: center center;

	background-repeat: no-repeat;

	height: 100vh;
	width: 100%;
}

.container
{
	font-family: 'Crimson Text', serif;
	color: #d6d6d6;
	margin-top: 125px;
	text-align: center;
}

.container .btn-dark
{
  margin-top: 100px;
  width: 200px;
  height: 50px;
  border-radius: 999px;
}

.container .btn-dark:hover {
    // box-shadow: 0 0 20px 10px rgba(230, 30, 10, 0.6);
    animation: burn 1000ms ease-out forwards;

    &::before {
      content: "Sign Up";
      color: white;
      left: 40px;
      width: 100px;
      height: 40px;
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }

    &::after {
      content: "Sign Up";
      right: 40px;
      width: 100px;
      height: 40px;
      border-radius: 100%;
      animation: flare 1000ms ease-out forwards;
    }
  }
}

@keyframes flare {
  100% {
    transform: translateY(-20px) scale(1.5);
    filter: blur(10px);
    opacity: 0;
  }
}

@keyframes burn {
  0% {
    background: #b84618;
    box-shadow:
      0 0 5px 0 rgba(200, 0, 10, 1),
      0 0 5px 0 rgba(230, 30, 10, 0.8),
      0 0 5px 0 rgba(230, 230, 10, 0.6);
  }
  
  100% {
    background: #b84618;
    box-shadow:
      0 -35px 40px 30px rgba(255, 130, 10, 0),
      0 -30px 30px 10px rgba(230, 30, 10, 0),
      0 -20px 10px 0 rgba(255, 255, 10, 0);
  }
}